.form-group {
    border: 1px solid white;
    background: whitesmoke;
    border-radius: 2px;
    margin-left: -15px;
}

.ProductName {
    font-size: 20px;
}

#form-href {
    height: 70px;
}

.comment1 {
    margin-left: 80%;
    margin-bottom: 10px;
    background-color: white;
    border: 2px solid black;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.addtocart {
    background-color: white;
    border: 2px solid black;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
